

/* .encapsule {


   padding-right: 40%;


  } */

  .save-button,
  .delete-button {
    display: inline;
    font-style: normal;
    font-weight:100;



  }

  .save-button {

    /* margin-right:80%;  */
    position: absolute;
   right: 60px;

    color: #0ED623;


  }



  .delete-button {
    /* margin-right:80%;  */
    color: #FF0000;


  }


  .list{
      width:100%;
      position: absolute;
      top: 11%;
      



  }

  .listing-page{
    width:100%;
    margin:auto;
    height:100%;
    /* background-color: #F00; */

  }


  .navbar-decoration{
    background-color: rgb(241, 69, 121);
    width: 100%;
    position: fixed;
    font-weight: 100;
    height:30%;
    z-index:10;
    color:white;
    padding-left: 1%;
    font-size: 100%;
  }



  /* .ListItemSecondaryAction{

    width: 100%
  } */

  /* .listing-list{
    position: relative;
    top: 40;

  } */


  

  .listing-list{
    position: absolute;
    top: 60px;
    width:100%;

    /* background-color:green; */

  }

  .listing-page{
    position: absolute;
    top: 0%;
    width:100%;
    height:100%;



  }

  .list{
    width:100%;
    height:100%;
    /* background-color:yellow; */
    
  }

  .list-title{
   /* background: rgb(214, 134, 14); */


  }



@media (min-width: 1281px) {

  .title{
    position: fixed;
    z-index:10;
    top: 8.88%;
    font-size: 120%;
    width:100%;
    font-weight: 500;
    text-overflow: clip;
    background-color: rgb(241, 69, 121,1);

  }
  
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .title{
    position: fixed;
    z-index:10;
    top: 8.88%;
    font-size: 120%;
    width:100%;
    font-weight: 500;
    text-overflow: clip;
    background-color: rgb(241, 69, 121,1);

  }
  
 
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .title{
    position: fixed;
    z-index:10;
    top: 9.70%;
    font-size: 120%;
    width:100%;
    font-weight: 500;
    text-overflow: clip;
    background-color: rgb(241, 69, 121,1);

  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .title{
    position: fixed;
    background-color: rgb(241, 69, 121,1);
    z-index:10;
    top: 8.88%;
    font-size: 120%;
    width:100%;
    font-weight: 500;
    text-overflow: clip;

  }
  
 
  
}




  @media (min-width: 481px) and (max-width: 767px) {


    .title{
      position: fixed;
      z-index:10;
      top: 10.70%;
      font-size: 120%;
      width:100%;
      font-weight: 500;
      text-overflow: clip;
      background-color: rgb(241, 69, 121,1);

    }

    .list-title{
      background: rgb(214, 134, 14);

      text-overflow: ellipsis;

      white-space: nowrap;
      width: 80%;
      font-size: 70%;
      overflow: hidden;
      border: 1px solid #000000;



     }




    }







  /*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

  @media (min-width: 380px) and (max-width: 480px) {

    .title{
      position: fixed;
      z-index:10;
      top: 10%;
      font-size: 120%;
      width:100%;
      font-weight: 500;
      text-overflow: clip;
      background-color: rgb(241, 69, 121);
  
    }

    .list-title{
      background: rgb(214, 134, 14);

      text-overflow: ellipsis;

      white-space: nowrap;
      width: 70%;
      font-size: 70%;
      overflow: hidden;
      border: 1px solid #000000;



     }




  }


  @media (min-width: 220px) and (max-width: 380px) {


    /* .navbar-decoration{
      background-color: rgb(241, 69, 121);
      width: 100%;
      position: fixed relative;
      font-weight: 100;
      height:20%;
      z-index:10;
      color:white;
      padding-left: 1%;
      font-size: 100%;
    } */
  

    .title{
      position: fixed;
      z-index:10;
      top: 20%;
      
      font-size: 80%;
      height:15%;
      width:100%;
      font-weight: 500;
      text-overflow: clip;
      background-color: rgb(241, 69, 121);
     
  
    }

    .list-title{
      background: rgb(214, 134, 14);

      text-overflow: ellipsis;

      white-space: nowrap;
      width: 70%;
      font-size: 70%;
      overflow: hidden;
      border: 1px solid #000000;



     }

     .listing-list{
      position: absolute;
      top: 25%;
      width:100%;
  
      background-color:green;
  
    }




  }



  


  /* .clearfix:after {
    content: "";
    display: table;
    clear: both;
  } */
